################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EmployeeDirectory/bin/Debug/net8.0
/EmployeeDirectory/obj
/EmployeeDirectory.BAL
/EmployeeDirectory.DAL
